.dark body {
    background-color: #1e1e2f;
    color: #c8a1d2;
}

.dark .navbar {
    background-color: #4a1f58 !important;
}

.dark .card {
    background-color: #2e2040;
    color: #c8a1d2;
}

.dark .btn-primary {
    background-color: #642c64;
    border-color: #642764;
}

.dark .btn-outline-secondary {
    color: #c8a1d2;
    border-color: #a774b1;
}

.dark a.nav-link {
    color: #c8a1d2 !important;
}

.texto-secundario {
  color: #6c757d;
}

.dark .text-secondary {
  color: #d1d1d1; 
}
